@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --myfont: 'Raleway', sans-serif;
    --my-btn-font: 'Montserrat', sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(116, 235, 213, 0.6), rgba(159, 172, 230, 0.9));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}

body{
    background-image: var(--lg-lightcolor), url("https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 95vw;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: calc(100vw - 65vw);
    max-width: 100%;
    /* margin: 6rem 6rem 6rem 9rem; */
}

.header{
    background: var(--lg-color);
    padding: 20px 0;
}

.header h2{
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.form .btn{
    background: var(--lg-lightcolor);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    font-family: var(--my-btn-font);
    font-size: 16px;
    padding: 15px 0;
    margin-top: 40px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
}

.form .btn:hover{
    background: var(--lg-color);
}

.form{
    padding: 20px 30px;
}

.form-control{
    margin-bottom: 10px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: var(--myfont);
    font-size: 18px;
    padding: 8px;
    margin-bottom: .5rem;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    right: 8px;
    top: 40px;
    visibility: hidden;
}

.form-control small{
    color: #e74c3c;
    position: absolute;
    bottom: -12;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
}

@media (min-width:300px) and (max-width: 700px){
    .container{
        width: 80vw;
        margin-left: 1rem;
    }
}